---
openapi: 3.0.0
info:
  title: Pax Payment Service
  description: Pax Payment Service
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://me.zig.live
    description: SwaggerHub API Auto Mocking
paths:

  /v1.0/trip-payment-method:
    get:
      tags:
        - Payment Method
      summary: Get list of payment methods
      description: Retrieve all payment methods details
      operationId: getPaymentMethodList
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodResponse"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    PaymentMethodResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentsMethodData'
    PaymentsMethodData:
      properties:
        code:
          type: string
          example: CASH
        codeDesc:
          type: string
          example: CASH
        paymentMode:
          type: integer
          example: 0
        entryMode:
          type: integer
          example: 3
    ErrorResponse:
      required:
        - traceId
        - error
        - timestamp
        - path
      type: object
      properties:
        traceId:
          type: string
          example: "1234567"
        error:
          $ref: '#/components/schemas/ErrorInternal'
        timestamp:
          type: string
          format: date-time
          example: "2000-08-29T09:12:33.001Z"
        path:
          type: string
          example: </sample-api-path>
    ErrorInternal:
      required:
        - code
        - message
        - data
      type: object
      properties:
        code:
          type: string
          example: InternalServerException
        message:
          type: string
          example: Sample 500 error
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header

